@font-face {
  font-family: 'meierahaicons';
  src: url('../fonts/estonia/meierahaicons.eot?15297608');
  src: url('../fonts/estonia/meierahaicons.eot?15297608#iefix') format('embedded-opentype'),
       url('../fonts/estonia/meierahaicons.woff2?15297608') format('woff2'),
       url('../fonts/estonia/meierahaicons.woff?15297608') format('woff'),
       url('../fonts/estonia/meierahaicons.ttf?15297608') format('truetype'),
       url('../fonts/estonia/meierahaicons.svg?15297608#meierahaicons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'meierahaicons';
    src: url('../fonts/estonia/meierahaicons.svg?15297608#meierahaicons') format('svg');
  }
}
*/
 
.icon {
  font-family: "meierahaicons";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .1em;
  text-align: center;
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  font-size: 120%;
  vertical-align: top;
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-share:before { content: '\e800'; } /* '' */
.icon-discuss:before { content: '\e801'; } /* '' */
.icon-info:before { content: '\e802'; } /* '' */
.icon-down:before { content: '\e803'; } /* '' */
.icon-up:before { content: '\e804'; } /* '' */
.icon-facebook:before { content: '\e805'; } /* '' */
.icon-twitter:before { content: '\e806'; } /* '' */
.icon-email:before { content: '\e807'; } /* '' */
.icon-zoomout:before { content: '\e808'; } /* '' */
.icon-zoomin:before { content: '\e809'; } /* '' */
.icon-odnoklassniki:before { content: '\e80a'; } /* '' */
.icon-close:before { content: '\e80b'; } /* '' */
.icon-logo:before { content: '\e80c'; } /* '' */
.icon-updated:before { content: '\e80d'; } /* '' */
.icon-language:before { content: '\e80e'; } /* '' */